In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import numpy as np
import plotly.graph_objs as go
from plotly.offline import iplot

In [15]:
# Read the dataset
dataset = pd.read_csv('BankChurners_v2.csv')

In [16]:
# Check the shape of the dataset
print(dataset.shape)

(10127, 23)

In [18]:
# Display the features of the dataset
dataset.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

In [17]:
# Display the first 5 rows of the dataset
dataset.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,90032,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,90033,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,90034,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,90035,Existing Customer,40,F,4,High School,NaN,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,90036,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

# Cleaning

Duplication

In [22]:
# Data Duplication
# Check the original number of rows 
dataset.shape[0]

10127

There are two ways to check if there are duplications.

In [24]:
# First way
# CLIENTNUM is a unique number, so it should not be duplicated
# Check if all the CLIENTNUM values are unique
dataset['CLIENTNUM'].nunique()

10127

No duplication in the dataset

In [26]:
# Second way 
# Drop the duplication
dataset.drop_duplicates(subset= 'CLIENTNUM', keep= False, inplace=True )

# Check back the number of row after dropping any duplicates
dataset.shape

(10127, 23)

Both ways showed no duplicated rows

Drop irrelevant columns

In [27]:
dataset.drop(columns=['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
                      'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], inplace=True)

In [28]:
# Check the columns
print(dataset.columns)
# Check the number of columns
print(dataset.shape)

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'],
      dtype='object')
(10127, 21)

Features' Datatypes

In [29]:
# Check the datatype of the variables
dataset.dtypes

CLIENTNUM                     int64
Attrition_Flag               object
Customer_Age                  int64
Gender                       object
Dependent_count               int64
Education_Level              object
Marital_Status               object
Income_Category              object
Card_Category                object
Months_on_book                int64
Total_Relationship_Count      int64
Months_Inactive_12_mon        int64
Contacts_Count_12_mon         int64
Credit_Limit                float64
Total_Revolving_Bal           int64
Avg_Open_To_Buy             float64
Total_Amt_Chng_Q4_Q1        float64
Total_Trans_Amt               int64
Total_Trans_Ct                int64
Total_Ct_Chng_Q4_Q1         float64
Avg_Utilization_Ratio       float64
dtype: object

Missing Values

In [30]:
# Check if there are any missing values
dataset.isna().sum() # OR dataset.isnull().sum()

CLIENTNUM                      0
Attrition_Flag                 0
Customer_Age                   0
Gender                         0
Dependent_count                0
Education_Level             1519
Marital_Status               749
Income_Category             1112
Card_Category                  0
Months_on_book                 0
Total_Relationship_Count       0
Months_Inactive_12_mon         0
Contacts_Count_12_mon          0
Credit_Limit                   0
Total_Revolving_Bal            0
Avg_Open_To_Buy                0
Total_Amt_Chng_Q4_Q1           0
Total_Trans_Amt                0
Total_Trans_Ct                 0
Total_Ct_Chng_Q4_Q1            0
Avg_Utilization_Ratio          0
dtype: int64

Three variables have missing values. These variables are categorical.

In [33]:
# Have a look on the missing values in Education_Level
dataset[dataset.Education_Level.isna()]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
6,90038,Existing Customer,51,M,4,NaN,Married,$120K +,Gold,46,...,1,3,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066
11,90043,Existing Customer,65,M,1,NaN,Married,$40K - $60K,Blue,54,...,2,3,9095.0,1587,7508.0,1.433,1314,26,1.364,0.174
15,90047,Existing Customer,44,M,4,NaN,NaN,$80K - $120K,Blue,37,...,1,2,4234.0,972,3262.0,1.707,1348,27,1.700,0.230
17,90049,Existing Customer,41,M,3,NaN,Married,$80K - $120K,Blue,34,...,4,1,13535.0,1291,12244.0,0.653,1028,21,1.625,0.095
23,90055,Existing Customer,47,F,4,NaN,Single,Less than $40K,Blue,36,...,3,2,2492.0,1560,932.0,0.573,1126,23,0.353,0.626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10090,100122,Existing Customer,36,F,3,NaN,Married,$40K - $60K,Blue,22,...,3,3,12958.0,2273,10685.0,0.608,15681,96,0.627,0.175
10094,100126,Existing Customer,59,M,1,NaN,Single,$60K - $80K,Blue,48,...,1,2,7288.0,0,7288.0,0.640,14873,120,0.714,0.000
10095,100127,Existing Customer,46,M,3,NaN,Married,$80K - $120K,Blue,33,...,1,3,34516.0,1099,33417.0,0.816,15490,110,0.618,0.032
10118,100150,Attrited Customer,50,M,1,NaN,NaN,$80K - $120K,Blue,36,...,3,4,9959.0,952,9007.0,0.825,10310,63,1.100,0.096
10123,100155,Attrited Customer,41,M,2,NaN,Divorced,$40K - $60K,Blue,25,...,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511

No trend is seen. There also other missing values in other variables in the above rows.

In [35]:
# Investigate the missing values in Marital_Status
dataset[dataset['Marital_Status'].isna()]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
3,90035,Existing Customer,40,F,4,High School,NaN,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
7,90039,Existing Customer,32,M,0,High School,NaN,$60K - $80K,Silver,27,...,2,2,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048
10,90042,Existing Customer,42,M,5,Uneducated,NaN,$120K +,Blue,31,...,3,2,6748.0,1467,5281.0,0.831,1201,42,0.680,0.217
13,90045,Existing Customer,35,M,3,Graduate,NaN,$60K - $80K,Blue,30,...,1,3,8547.0,1666,6881.0,1.163,1311,33,2.000,0.195
15,90047,Existing Customer,44,M,4,NaN,NaN,$80K - $120K,Blue,37,...,1,2,4234.0,972,3262.0,1.707,1348,27,1.700,0.230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10070,100102,Existing Customer,47,M,3,High School,NaN,$80K - $120K,Silver,40,...,3,2,34516.0,1371,33145.0,0.691,15930,123,0.836,0.040
10100,100132,Existing Customer,39,M,2,Graduate,NaN,$60K - $80K,Silver,36,...,2,2,29808.0,0,29808.0,0.669,16098,128,0.684,0.000
10101,100133,Existing Customer,42,M,2,Graduate,NaN,$40K - $60K,Blue,30,...,2,5,3735.0,1723,2012.0,0.595,14501,92,0.840,0.461
10118,100150,Attrited Customer,50,M,1,NaN,NaN,$80K - $120K,Blue,36,...,3,4,9959.0,952,9007.0,0.825,10310,63,1.100,0.096
10125,100157,Attrited Customer,30,M,2,Graduate,NaN,$40K - $60K,Blue,36,...,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000

In [36]:
# Investigate the missing values in Marital_Status
dataset[dataset['Income_Category'].isna()]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
19,90051,Existing Customer,45,F,2,Graduate,Married,NaN,Blue,37,...,1,2,14470.0,1157,13313.0,0.966,1207,21,0.909,0.080
28,90060,Existing Customer,44,F,3,Uneducated,Single,NaN,Blue,34,...,2,2,10100.0,0,10100.0,0.525,1052,18,1.571,0.000
39,90071,Attrited Customer,66,F,0,Doctorate,Married,NaN,Blue,56,...,4,3,7882.0,605,7277.0,1.052,704,16,0.143,0.077
44,90076,Existing Customer,38,F,4,Graduate,Single,NaN,Blue,28,...,3,3,9830.0,2055,7775.0,0.977,1042,23,0.917,0.209
58,90090,Existing Customer,44,F,5,Graduate,Married,NaN,Blue,35,...,1,2,6273.0,978,5295.0,2.275,1359,25,1.083,0.156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10021,100053,Attrited Customer,30,F,1,Graduate,Married,NaN,Blue,18,...,1,4,4377.0,2517,1860.0,0.941,8759,74,0.609,0.575
10040,100072,Attrited Customer,50,F,3,Doctorate,Single,NaN,Blue,36,...,3,3,5173.0,0,5173.0,0.912,8757,68,0.789,0.000
10083,100115,Existing Customer,42,F,4,Uneducated,Married,NaN,Blue,23,...,1,2,8348.0,0,8348.0,0.695,15905,111,0.708,0.000
10092,100124,Attrited Customer,40,F,3,Graduate,Married,NaN,Blue,25,...,2,3,6888.0,1878,5010.0,1.059,9038,64,0.829,0.273
10119,100151,Attrited Customer,55,F,3,Uneducated,Single,NaN,Blue,47,...,3,3,14657.0,2517,12140.0,0.166,6009,53,0.514,0.172

Fill the missing values with "Unknown" in the three variables.

In [37]:
# Impute the missing values with Unknown
dataset['Education_Level'] = dataset['Education_Level'].fillna("Unknown")
dataset['Marital_Status'] = dataset['Marital_Status'].fillna("Unknown")
dataset['Income_Category'] = dataset['Income_Category'].fillna("Unknown")

In [38]:
# Check that there is no missing values
dataset.isna().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [39]:
# Check that the imputation is working well. Compare the rows before and after imputation
dataset[dataset['Education_Level'] == "Unknown"]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
6,90038,Existing Customer,51,M,4,Unknown,Married,$120K +,Gold,46,...,1,3,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066
11,90043,Existing Customer,65,M,1,Unknown,Married,$40K - $60K,Blue,54,...,2,3,9095.0,1587,7508.0,1.433,1314,26,1.364,0.174
15,90047,Existing Customer,44,M,4,Unknown,Unknown,$80K - $120K,Blue,37,...,1,2,4234.0,972,3262.0,1.707,1348,27,1.700,0.230
17,90049,Existing Customer,41,M,3,Unknown,Married,$80K - $120K,Blue,34,...,4,1,13535.0,1291,12244.0,0.653,1028,21,1.625,0.095
23,90055,Existing Customer,47,F,4,Unknown,Single,Less than $40K,Blue,36,...,3,2,2492.0,1560,932.0,0.573,1126,23,0.353,0.626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10090,100122,Existing Customer,36,F,3,Unknown,Married,$40K - $60K,Blue,22,...,3,3,12958.0,2273,10685.0,0.608,15681,96,0.627,0.175
10094,100126,Existing Customer,59,M,1,Unknown,Single,$60K - $80K,Blue,48,...,1,2,7288.0,0,7288.0,0.640,14873,120,0.714,0.000
10095,100127,Existing Customer,46,M,3,Unknown,Married,$80K - $120K,Blue,33,...,1,3,34516.0,1099,33417.0,0.816,15490,110,0.618,0.032
10118,100150,Attrited Customer,50,M,1,Unknown,Unknown,$80K - $120K,Blue,36,...,3,4,9959.0,952,9007.0,0.825,10310,63,1.100,0.096
10123,100155,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511

In [40]:
dataset[dataset['Income_Category'] == "Unknown"]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
19,90051,Existing Customer,45,F,2,Graduate,Married,Unknown,Blue,37,...,1,2,14470.0,1157,13313.0,0.966,1207,21,0.909,0.080
28,90060,Existing Customer,44,F,3,Uneducated,Single,Unknown,Blue,34,...,2,2,10100.0,0,10100.0,0.525,1052,18,1.571,0.000
39,90071,Attrited Customer,66,F,0,Doctorate,Married,Unknown,Blue,56,...,4,3,7882.0,605,7277.0,1.052,704,16,0.143,0.077
44,90076,Existing Customer,38,F,4,Graduate,Single,Unknown,Blue,28,...,3,3,9830.0,2055,7775.0,0.977,1042,23,0.917,0.209
58,90090,Existing Customer,44,F,5,Graduate,Married,Unknown,Blue,35,...,1,2,6273.0,978,5295.0,2.275,1359,25,1.083,0.156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10021,100053,Attrited Customer,30,F,1,Graduate,Married,Unknown,Blue,18,...,1,4,4377.0,2517,1860.0,0.941,8759,74,0.609,0.575
10040,100072,Attrited Customer,50,F,3,Doctorate,Single,Unknown,Blue,36,...,3,3,5173.0,0,5173.0,0.912,8757,68,0.789,0.000
10083,100115,Existing Customer,42,F,4,Uneducated,Married,Unknown,Blue,23,...,1,2,8348.0,0,8348.0,0.695,15905,111,0.708,0.000
10092,100124,Attrited Customer,40,F,3,Graduate,Married,Unknown,Blue,25,...,2,3,6888.0,1878,5010.0,1.059,9038,64,0.829,0.273
10119,100151,Attrited Customer,55,F,3,Uneducated,Single,Unknown,Blue,47,...,3,3,14657.0,2517,12140.0,0.166,6009,53,0.514,0.172

In [41]:
dataset[dataset['Marital_Status'] == "Unknown"]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
3,90035,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
7,90039,Existing Customer,32,M,0,High School,Unknown,$60K - $80K,Silver,27,...,2,2,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048
10,90042,Existing Customer,42,M,5,Uneducated,Unknown,$120K +,Blue,31,...,3,2,6748.0,1467,5281.0,0.831,1201,42,0.680,0.217
13,90045,Existing Customer,35,M,3,Graduate,Unknown,$60K - $80K,Blue,30,...,1,3,8547.0,1666,6881.0,1.163,1311,33,2.000,0.195
15,90047,Existing Customer,44,M,4,Unknown,Unknown,$80K - $120K,Blue,37,...,1,2,4234.0,972,3262.0,1.707,1348,27,1.700,0.230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10070,100102,Existing Customer,47,M,3,High School,Unknown,$80K - $120K,Silver,40,...,3,2,34516.0,1371,33145.0,0.691,15930,123,0.836,0.040
10100,100132,Existing Customer,39,M,2,Graduate,Unknown,$60K - $80K,Silver,36,...,2,2,29808.0,0,29808.0,0.669,16098,128,0.684,0.000
10101,100133,Existing Customer,42,M,2,Graduate,Unknown,$40K - $60K,Blue,30,...,2,5,3735.0,1723,2012.0,0.595,14501,92,0.840,0.461
10118,100150,Attrited Customer,50,M,1,Unknown,Unknown,$80K - $120K,Blue,36,...,3,4,9959.0,952,9007.0,0.825,10310,63,1.100,0.096
10125,100157,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000

Data Transformation: Binning

In [42]:
# Get the min. and max. age
dataset['Customer_Age'].describe()

count    10127.000000
mean        46.325960
std          8.016814
min         26.000000
25%         41.000000
50%         46.000000
75%         52.000000
max         73.000000
Name: Customer_Age, dtype: float64

You can use cut function in pandas to create bins for the customer age. However, another way is done below where a function is created and apply function is used later to execute it.

In [49]:
def get_age_bins(x):
    if x >=20 and x<30:
        return "20s"
    if x >= 30 and x<40:
        return "30s"
    if x>=40 and x<50:
        return "40s"
    if x>=50 and x<60:
        return "50s"
    if x>=60 and x<70:
        return "60s"
    if x>=70 and x<80:
        return "70s"
    else:
        return ">=80"

In [50]:
dataset['customer_age_bin'] = dataset['Customer_Age'].apply(get_age_bins)

In [52]:
dataset['Customer_Age'].head()

0    45
1    49
2    51
3    40
4    40
Name: Customer_Age, dtype: int64

In [53]:
dataset['customer_age_bin'].head()

0    40s
1    40s
2    50s
3    40s
4    40s
Name: customer_age_bin, dtype: object